<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serpent.stock.mapper.CurrHoldMapper">
  <resultMap id="BaseResultMap" type="com.serpent.stock.beans.CurrHold">
    <id column="pk_curr_hold" jdbcType="INTEGER" property="pkCurrHold" />
    <result column="ts_code" jdbcType="VARCHAR" property="tsCode" />
    <result column="hold_price" jdbcType="DOUBLE" property="holdPrice" />
    <result column="first_hold_day" jdbcType="VARCHAR" property="firstHoldDay" />
    <result column="hold_num" jdbcType="INTEGER" property="holdNum" />
    <result column="win_pct" jdbcType="DOUBLE" property="winPct" />
    <result column="max_win_pct" jdbcType="DOUBLE" property="maxWinPct" />
    <result column="min_win_pct" jdbcType="DOUBLE" property="minWinPct" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pk_curr_hold, ts_code, hold_price, first_hold_day, hold_num, win_pct, max_win_pct, 
    min_win_pct
  </sql>
  <select id="selectByExample" parameterType="com.serpent.stock.beans.CurrHoldExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from curr_hold
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from curr_hold
    where pk_curr_hold = #{pkCurrHold,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from curr_hold
    where pk_curr_hold = #{pkCurrHold,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.serpent.stock.beans.CurrHoldExample">
    delete from curr_hold
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.serpent.stock.beans.CurrHold">
    insert into curr_hold (pk_curr_hold, ts_code, hold_price, 
      first_hold_day, hold_num, win_pct, 
      max_win_pct, min_win_pct)
    values (#{pkCurrHold,jdbcType=INTEGER}, #{tsCode,jdbcType=VARCHAR}, #{holdPrice,jdbcType=DOUBLE}, 
      #{firstHoldDay,jdbcType=VARCHAR}, #{holdNum,jdbcType=INTEGER}, #{winPct,jdbcType=DOUBLE}, 
      #{maxWinPct,jdbcType=DOUBLE}, #{minWinPct,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.serpent.stock.beans.CurrHold">
    insert into curr_hold
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkCurrHold != null">
        pk_curr_hold,
      </if>
      <if test="tsCode != null">
        ts_code,
      </if>
      <if test="holdPrice != null">
        hold_price,
      </if>
      <if test="firstHoldDay != null">
        first_hold_day,
      </if>
      <if test="holdNum != null">
        hold_num,
      </if>
      <if test="winPct != null">
        win_pct,
      </if>
      <if test="maxWinPct != null">
        max_win_pct,
      </if>
      <if test="minWinPct != null">
        min_win_pct,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkCurrHold != null">
        #{pkCurrHold,jdbcType=INTEGER},
      </if>
      <if test="tsCode != null">
        #{tsCode,jdbcType=VARCHAR},
      </if>
      <if test="holdPrice != null">
        #{holdPrice,jdbcType=DOUBLE},
      </if>
      <if test="firstHoldDay != null">
        #{firstHoldDay,jdbcType=VARCHAR},
      </if>
      <if test="holdNum != null">
        #{holdNum,jdbcType=INTEGER},
      </if>
      <if test="winPct != null">
        #{winPct,jdbcType=DOUBLE},
      </if>
      <if test="maxWinPct != null">
        #{maxWinPct,jdbcType=DOUBLE},
      </if>
      <if test="minWinPct != null">
        #{minWinPct,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.serpent.stock.beans.CurrHoldExample" resultType="java.lang.Long">
    select count(*) from curr_hold
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update curr_hold
    <set>
      <if test="record.pkCurrHold != null">
        pk_curr_hold = #{record.pkCurrHold,jdbcType=INTEGER},
      </if>
      <if test="record.tsCode != null">
        ts_code = #{record.tsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.holdPrice != null">
        hold_price = #{record.holdPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.firstHoldDay != null">
        first_hold_day = #{record.firstHoldDay,jdbcType=VARCHAR},
      </if>
      <if test="record.holdNum != null">
        hold_num = #{record.holdNum,jdbcType=INTEGER},
      </if>
      <if test="record.winPct != null">
        win_pct = #{record.winPct,jdbcType=DOUBLE},
      </if>
      <if test="record.maxWinPct != null">
        max_win_pct = #{record.maxWinPct,jdbcType=DOUBLE},
      </if>
      <if test="record.minWinPct != null">
        min_win_pct = #{record.minWinPct,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update curr_hold
    set pk_curr_hold = #{record.pkCurrHold,jdbcType=INTEGER},
      ts_code = #{record.tsCode,jdbcType=VARCHAR},
      hold_price = #{record.holdPrice,jdbcType=DOUBLE},
      first_hold_day = #{record.firstHoldDay,jdbcType=VARCHAR},
      hold_num = #{record.holdNum,jdbcType=INTEGER},
      win_pct = #{record.winPct,jdbcType=DOUBLE},
      max_win_pct = #{record.maxWinPct,jdbcType=DOUBLE},
      min_win_pct = #{record.minWinPct,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.serpent.stock.beans.CurrHold">
    update curr_hold
    <set>
      <if test="tsCode != null">
        ts_code = #{tsCode,jdbcType=VARCHAR},
      </if>
      <if test="holdPrice != null">
        hold_price = #{holdPrice,jdbcType=DOUBLE},
      </if>
      <if test="firstHoldDay != null">
        first_hold_day = #{firstHoldDay,jdbcType=VARCHAR},
      </if>
      <if test="holdNum != null">
        hold_num = #{holdNum,jdbcType=INTEGER},
      </if>
      <if test="winPct != null">
        win_pct = #{winPct,jdbcType=DOUBLE},
      </if>
      <if test="maxWinPct != null">
        max_win_pct = #{maxWinPct,jdbcType=DOUBLE},
      </if>
      <if test="minWinPct != null">
        min_win_pct = #{minWinPct,jdbcType=DOUBLE},
      </if>
    </set>
    where pk_curr_hold = #{pkCurrHold,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.serpent.stock.beans.CurrHold">
    update curr_hold
    set ts_code = #{tsCode,jdbcType=VARCHAR},
      hold_price = #{holdPrice,jdbcType=DOUBLE},
      first_hold_day = #{firstHoldDay,jdbcType=VARCHAR},
      hold_num = #{holdNum,jdbcType=INTEGER},
      win_pct = #{winPct,jdbcType=DOUBLE},
      max_win_pct = #{maxWinPct,jdbcType=DOUBLE},
      min_win_pct = #{minWinPct,jdbcType=DOUBLE}
    where pk_curr_hold = #{pkCurrHold,jdbcType=INTEGER}
  </update>

  <!-- 手动新增内容！！！ -->
  <select id="selectCurrHold" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from curr_hold where hold_num > 0
  </select>
</mapper>