<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serpent.stock.mapper.StockBaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.serpent.stock.beans.StockBaseInfo">
    <id column="trade_date" jdbcType="VARCHAR" property="tradeDate" />
    <id column="ts_code" jdbcType="VARCHAR" property="tsCode" />
    <result column="open" jdbcType="DOUBLE" property="open" />
    <result column="close" jdbcType="DOUBLE" property="close" />
    <result column="high" jdbcType="DOUBLE" property="high" />
    <result column="low" jdbcType="DOUBLE" property="low" />
    <result column="vol" jdbcType="DOUBLE" property="vol" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="pre_close" jdbcType="DOUBLE" property="preClose" />
    <result column="change" jdbcType="DOUBLE" property="change" />
    <result column="pct_chg" jdbcType="DOUBLE" property="pctChg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    trade_date, ts_code, `open`, `close`, high, low, vol, amount, pre_close, `change`, pct_chg
  </sql>
  <select id="selectByExample" parameterType="com.serpent.stock.beans.StockBaseInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stock_base_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.serpent.stock.beans.StockBaseInfoKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stock_base_info
    where trade_date = #{tradeDate,jdbcType=VARCHAR}
      and ts_code = #{tsCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.serpent.stock.beans.StockBaseInfoKey">
    delete from stock_base_info
    where trade_date = #{tradeDate,jdbcType=VARCHAR}
      and ts_code = #{tsCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.serpent.stock.beans.StockBaseInfoExample">
    delete from stock_base_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.serpent.stock.beans.StockBaseInfo">
    insert into stock_base_info (trade_date, ts_code, open, 
      close, high, low, vol, 
      amount, pre_close, change, 
      pct_chg)
    values (#{tradeDate,jdbcType=VARCHAR}, #{tsCode,jdbcType=VARCHAR}, #{open,jdbcType=DOUBLE}, 
      #{close,jdbcType=DOUBLE}, #{high,jdbcType=DOUBLE}, #{low,jdbcType=DOUBLE}, #{vol,jdbcType=DOUBLE}, 
      #{amount,jdbcType=DOUBLE}, #{preClose,jdbcType=DOUBLE}, #{change,jdbcType=DOUBLE}, 
      #{pctChg,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.serpent.stock.beans.StockBaseInfo">
    insert into stock_base_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tradeDate != null">
        trade_date,
      </if>
      <if test="tsCode != null">
        ts_code,
      </if>
      <if test="open != null">
        open,
      </if>
      <if test="close != null">
        close,
      </if>
      <if test="high != null">
        high,
      </if>
      <if test="low != null">
        low,
      </if>
      <if test="vol != null">
        vol,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="preClose != null">
        pre_close,
      </if>
      <if test="change != null">
        change,
      </if>
      <if test="pctChg != null">
        pct_chg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tradeDate != null">
        #{tradeDate,jdbcType=VARCHAR},
      </if>
      <if test="tsCode != null">
        #{tsCode,jdbcType=VARCHAR},
      </if>
      <if test="open != null">
        #{open,jdbcType=DOUBLE},
      </if>
      <if test="close != null">
        #{close,jdbcType=DOUBLE},
      </if>
      <if test="high != null">
        #{high,jdbcType=DOUBLE},
      </if>
      <if test="low != null">
        #{low,jdbcType=DOUBLE},
      </if>
      <if test="vol != null">
        #{vol,jdbcType=DOUBLE},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="preClose != null">
        #{preClose,jdbcType=DOUBLE},
      </if>
      <if test="change != null">
        #{change,jdbcType=DOUBLE},
      </if>
      <if test="pctChg != null">
        #{pctChg,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.serpent.stock.beans.StockBaseInfoExample" resultType="java.lang.Long">
    select count(*) from stock_base_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update stock_base_info
    <set>
      <if test="record.tradeDate != null">
        trade_date = #{record.tradeDate,jdbcType=VARCHAR},
      </if>
      <if test="record.tsCode != null">
        ts_code = #{record.tsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.open != null">
        open = #{record.open,jdbcType=DOUBLE},
      </if>
      <if test="record.close != null">
        close = #{record.close,jdbcType=DOUBLE},
      </if>
      <if test="record.high != null">
        high = #{record.high,jdbcType=DOUBLE},
      </if>
      <if test="record.low != null">
        low = #{record.low,jdbcType=DOUBLE},
      </if>
      <if test="record.vol != null">
        vol = #{record.vol,jdbcType=DOUBLE},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
      <if test="record.preClose != null">
        pre_close = #{record.preClose,jdbcType=DOUBLE},
      </if>
      <if test="record.change != null">
        change = #{record.change,jdbcType=DOUBLE},
      </if>
      <if test="record.pctChg != null">
        pct_chg = #{record.pctChg,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update stock_base_info
    set trade_date = #{record.tradeDate,jdbcType=VARCHAR},
      ts_code = #{record.tsCode,jdbcType=VARCHAR},
      open = #{record.open,jdbcType=DOUBLE},
      close = #{record.close,jdbcType=DOUBLE},
      high = #{record.high,jdbcType=DOUBLE},
      low = #{record.low,jdbcType=DOUBLE},
      vol = #{record.vol,jdbcType=DOUBLE},
      amount = #{record.amount,jdbcType=DOUBLE},
      pre_close = #{record.preClose,jdbcType=DOUBLE},
      change = #{record.change,jdbcType=DOUBLE},
      pct_chg = #{record.pctChg,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.serpent.stock.beans.StockBaseInfo">
    update stock_base_info
    <set>
      <if test="open != null">
        open = #{open,jdbcType=DOUBLE},
      </if>
      <if test="close != null">
        close = #{close,jdbcType=DOUBLE},
      </if>
      <if test="high != null">
        high = #{high,jdbcType=DOUBLE},
      </if>
      <if test="low != null">
        low = #{low,jdbcType=DOUBLE},
      </if>
      <if test="vol != null">
        vol = #{vol,jdbcType=DOUBLE},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="preClose != null">
        pre_close = #{preClose,jdbcType=DOUBLE},
      </if>
      <if test="change != null">
        change = #{change,jdbcType=DOUBLE},
      </if>
      <if test="pctChg != null">
        pct_chg = #{pctChg,jdbcType=DOUBLE},
      </if>
    </set>
    where trade_date = #{tradeDate,jdbcType=VARCHAR}
      and ts_code = #{tsCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.serpent.stock.beans.StockBaseInfo">
    update stock_base_info
    set open = #{open,jdbcType=DOUBLE},
      close = #{close,jdbcType=DOUBLE},
      high = #{high,jdbcType=DOUBLE},
      low = #{low,jdbcType=DOUBLE},
      vol = #{vol,jdbcType=DOUBLE},
      amount = #{amount,jdbcType=DOUBLE},
      pre_close = #{preClose,jdbcType=DOUBLE},
      change = #{change,jdbcType=DOUBLE},
      pct_chg = #{pctChg,jdbcType=DOUBLE}
    where trade_date = #{tradeDate,jdbcType=VARCHAR}
      and ts_code = #{tsCode,jdbcType=VARCHAR}
  </update>

  <select id="queryLastDay" resultType="java.lang.String">
    select trade_date from stock_base_info order by trade_date desc limit 1
  </select>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into stock_base_info(
    <include refid="Base_Column_List" />
    ) values
    <foreach collection="list" item="baseInfo" separator=",">
      (
      #{baseInfo.tradeDate},
      #{baseInfo.tsCode},
      #{baseInfo.open},
      #{baseInfo.close},
      #{baseInfo.high},
      #{baseInfo.low},
      #{baseInfo.vol},
      #{baseInfo.amount},
      #{baseInfo.preClose},
      #{baseInfo.change},
      #{baseInfo.pctChg}
      )
    </foreach>
  </insert>

  <!-- 自定义查询 -->
  <select id="queryLastFewDayInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from stock_base_info where ts_code=#{param.ts_code} order by trade_date desc limit ${param.num}
  </select>
</mapper>