<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serpent.stock.mapper.TableMetaMapper">
    
    <resultMap id="allMap" type="com.serpent.stock.dto.TableMeta">
        <id column="pk_tablemeta" jdbcType="INTEGER" property="pkTableMeta"/>
        <result column="table_name" jdbcType="VARCHAR" property="tableName"/>
        <result column="is_redis" jdbcType="CHAR" property="isRedis"/>
        <collection property="columnMeta" ofType="com.serpent.stock.dto.ColumnMeta" resultMap="tableColumnMapping"/>
    </resultMap>
    
    <resultMap id="tableMetaMapping" type="com.serpent.stock.dto.TableMeta">
        <id column="pk_tablemeta" jdbcType="INTEGER" property="pkTableMeta"/>
        <result column="table_name" jdbcType="VARCHAR" property="tableName"/>
        <result column="is_redis" jdbcType="CHAR" property="isRedis"/>
    </resultMap>

    <resultMap id="tableColumnMapping" type="com.serpent.stock.dto.ColumnMeta">
        <id column="pk_column" jdbcType="INTEGER" property="pkColumn"/>
        <result column="display_name" jdbcType="VARCHAR" property="displayName"/>
        <result column="column_type" jdbcType="VARCHAR" property="columnType"/>
        <result column="column_name" jdbcType="VARCHAR" property="columnName"/>
        <result column="is_primary" jdbcType="TINYINT" property="isPrimary"/>
        <result column="display_order" jdbcType="INTEGER" property="displayOrder"/>
    </resultMap>

    <select id="tableMetaQuery" parameterType="java.lang.Integer" resultMap="tableMetaMapping">
        select * from table_meta where 1=1 and pk_tablemeta=#{tableId}
    </select>

    <select id="columnMetaQuery" parameterType="java.lang.Integer" resultMap="tableColumnMapping">
        select * from table_column where pk_tablemeta=#{id}
    </select>

    <select id="selectTableMeta" parameterType="java.lang.Integer" resultMap="allMap">
        select table_meta.*, table_column.* from table_meta left join table_column on table_meta.pk_tablemeta=table_column.pk_tablemeta where table_meta.pk_tablemeta=#{tableId}
    </select>
</mapper>